#question {
    color: #ffffff;
    font-weight: 500;
}

.shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
}

#guess-what {
    color: #ffff00;
}

.box {
    widows: 200px;
    height: 200px;
    background: #67d;
    margin: 5px 10px 25px 0px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
}

.box:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
    opacity: .8;
}
